---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex justify-center items-center min-h-screen">
    <div>
      <h1 class="text-center text-xl font-bold">About</h1>
      <p>This is an example of a static page</p>
    </div>
  </div>
</BaseLayout>
