---
---

<header class="fixed top-0 left-0 right-0 h-16 bg-slate-500 text-white p-4">
  <nav>
    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
